.header__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 1rem;
}

.header__upper,
.header__lower {
  display: flex;
  width: 100%;
}

.header__upper {
  justify-content: space-between;
}

.header__lower {
  justify-content: center;
}

.header__logo {
  flex-basis: 40%;
  cursor: pointer;

  &_img {
    width: auto;
    height: 72px;

    @media (width < 512px) {
      height: 2.5rem;
    }
  }
}

.header__links {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  @media (width < 512px) {
    gap: 0;
  }
}

.header__links__button {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: none;

  @media (width < 512px) {
    padding: 0.25rem;

    &>img {
      height: 1.35rem;
    }
  }

  &>img {
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }
}
