.logout__button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: .5rem;
	padding: 0.5rem 1rem;
	font-family: inherit;
    background-color: var(--main-color);

	&__icon {
		filter: invert(100%);
	}
}
