.bookmarks__view {
	&__container {
		padding: 2rem 5rem;
		width: 100%;
		// height: calc(100vh - 10rem);
		vertical-align: middle;
		// overflow-x: hidden;

		& summary {
			list-style: none;
		}

		// Table screen
		@media (width < 960px) {
			padding: 2rem;
			height: calc(100vh - 7rem);
		}

		// Small phone screen
		@media (width < 640px) {
			padding: .5rem;
		}
	}

	&__paragraph {
		text-align: center;
		line-height: 2.5rem;
	}
}
