.reset__password {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;

    @media (width < 512px) {
      width: 100%;
      margin: 1rem auto;
      padding: 0 1rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px #fff6 solid;
    box-shadow: 0 5px 5rem var(--main-color-dark);
    justify-content: center;
    align-items: center;

    @media (prefers-color-scheme: light) {
      box-shadow: 0 5px 2rem var(--main-color-dark);
    }

    @media (width < 512px) {
      padding: 1rem;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5rem;
  }

  &__image {
    width: 40%;
    height: auto;

    @media (width <=768px) {
      display: none;
    }
  }


  &__title,
  &__text {
    padding: 1rem 0;
    text-align: center;
    line-height: 1.6rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 3rem;

    @media (width < 512px) {
      font-size: clamp(1.5rem, 10vw, 2rem);
      line-height: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1.5rem;
    width: 100%;
    margin: 2rem 0;

    @media (width < 512px) {
      padding: .5rem;
    }

    &__label {
      text-align: center;
      line-height: 1.5rem;
    }
  }

  &__input {
    padding: 0.5rem 0.75rem;
    background-color: #fff1;
    transition: all .15s ease-in-out;
    font-family: inherit;
    font-size: inherit;
    border-radius: .5rem;
    border: 2px #fff0 solid;

    @media(prefers-color-scheme: light) {
      background: #0161a033;
      color: #333;
    }

    &:focus {
      background-color: #fff2;
      box-shadow: 0 0 0 0.1rem light-dark(#000, #fff);

      @media(prefers-color-scheme: light) {
        background-color: #0161a022;
      }
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: light-dark(#ddd, #0161a0);
    color: light-dark(#222, #eee);

    transition: all 0.2s ease-in-out;
    width: 75%;
    margin: 0 auto;

    &:disabled {
      background-color: #ddd9;
    }

    &:focus {
      box-shadow: 0 0 0 0.1rem light-dark(#000, #fff);
    }
  }

  &__link {
    & b {
      color: var(--main-color);
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--main-color-dark);
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    @media (width < 512px) {
      width: 90%;
      height: auto;
      margin-bottom: 3rem;
    }
  }

  &__social__button {
    @media (width < 512px) {
      width: 70%;
    }

    &:hover {
      opacity: 1;
      box-shadow: 0 0 0.5rem var(--main-color-hover);
      transform: scale(1.1);
    }

  }
}
