.bookmark__skeleton__container {
	width: 100%;
	background: linear-gradient(90deg, #666 0%, #aaa 50%, #666 100%);
	min-height: 2.5rem;
	margin: 1rem 0;
	border-radius: 1rem;
	cursor: pointer;
	user-select: none;
	animation: skeleton 1.5s infinite;
	padding: 0 1rem;
}

@keyframes skeleton {
	0% {
		background-position-x: 0rem;
	}
	100% {
		background-position-x: 82rem;
	}
}
