.auth__button__container {
  }

.auth__button {
  width: 16px;
  height: 16px;


  &__btn {
    &:focus {
      box-shadow: 0 0 0 0.15rem light-dark(#000, #fff);
    }
  }

  @media (width <=512px) {
    &__img {
      width: 32px;
      height: 32px;
    }
  }

  &__skeleton {
    width: 36px;
    height: 36px;
    background: linear-gradient(90deg, #a0a0a0 25%, #303030 50%, #a0a0a0 75%);
    border-radius: 100%;
    background-size: 400% 400%;
    animation: loading 1s ease-in-out infinite;
  }

}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
