.header__container {
	display: flex;
	padding: 0.5rem;
	border-bottom: 1px solid #0005;
	justify-content: space-between;
	width: 100%;
}

.header__logo {
	flex-basis: 40%;

	&_img {
		width: auto;
		height: 96px;
	}
}

.header__links {
	display: flex;
	gap: .5rem;
}

.header__links__button {
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 1rem;
	outline: none;
	border: none;
	background: none;

	&>img {
		filter: invert(1);
	}
}
