.filtering__container {
  display: flex;
  gap: 1rem;

  @media (width <=768px) {
    width: 100%;
  }

  & input {
    border: 1px #eee6 solid;
    border-radius: .5rem;
    width: 400px;
    padding: 0 .5rem;
    font-size: inherit;
    font-family: inherit;
    transition: all .25s ease-in-out;

    &:focus {
      box-shadow: 0 0 1rem #ddf6;

      @media (prefers-color-scheme: light) {
        box-shadow: 0 0 1rem #66f6;
      }
    }

    @media (prefers-color-scheme: light) {
      border: 1px #1116 solid;
      background-color: #e1e1f1;
    }

    @media (width <=768px) {
      width: 100%;
    }

  }

  &__icon {
    transform: rotate(-10deg);

    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }

  &__skeleton {
    width: 450px;
    height: 35px;
    border-radius: .5rem;
    background: linear-gradient(130deg, #606060 25%, #303030 50%, #606060 75%);
    background-size: 400% 400%;
    animation: loading 1.5s ease-in-out infinite;
  }

}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
