.edit__button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-color: hsl(245, 70%, 60%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .15rem;
    border-radius: .5rem;

    & > img {
        filter: invert(1);
    }
}
